<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>회원가입 페이지</title>
</head>
<body>
<h1>signUp</h1>
<hr/>
<form action="/join" method="Post">
  <input type="text" name="userId" placeholder="id">
  <input type="password" name="password" placeholder="password">
  <input type="text" name="username" placeholder="userName">
  <input type="email" name="email" placeholder="email">
  <input type="number" name="birth" placeholder="birth">
  <input type="tel" name="phone" placeholder="phone">
  <button>회원가입</button>
</form>
</body>
</html>